<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
</head>
<body>


<% if (kindOfDay === 'Saturday' || kindOfDay === 'Sunday'){%>
    <h1 style="color: mediumpurple"><%= kindOfDay %> ToDo List</h1>
<%}else{ %>
<h1 style="color: darkblue"><%= kindOfDay %> ToDo List</h1>
<% } %>


</body>
</html>